.slick-next {
  right: 15px;
  z-index: 11;
}
.slick-prev {
  left: 15px;
  z-index: 11;
}
.slick-next::before,
.slick-prev::before {
  color: rgb(239 68 68 / 1);
  font-size: 35px;
  opacity: 1;
}
.slick-title h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  color: rgb(198, 148, 57);
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .slick-title h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
